<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      your gold: <input type="text" value="{{ request.session.gold }}">
    </div>
    <div class="wrapper">
      <div class="row text-center">
        <div class="col-md-3 well">
          <h3>Farm</h3>
          <p>(earns 10-20 golds)</p>
          <form action="{% url 'gold_process_money' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="house_type" value="farm">
            <button name="submit" class="btn btn-primary">Find Gold!</button>
          </form>
        </div>

        <div class="col-md-3 well">
          <h3>Cave</h3>
          <p>(earns 5-10 golds)</p>
          <form action="{% url 'gold_process_money' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="house_type" value="cave">
            <button name="submit" class="btn btn-primary">Find Gold!</button>
          </form>
        </div>

        <div class="col-md-3 well">
          <h3>House</h3>
          <p>(earns 2-5 golds)</p>
          <form action="{% url 'gold_process_money' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="house_type" value="house">
            <button name="submit" class="btn btn-primary">Find Gold!</button>
          </form>
        </div>

        <div class="col-md-3 well">
          <h3>Casino</h3>
          <p>(Earns / Takes 0-50 golds)</p>
          <form action="{% url 'gold_process_money' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="house_type" value="casino">
            <button name="submit" class="btn btn-primary">Find Gold!</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <h3>Activities</h3>
      <div id="scrollbox">
        {% for activity in request.session.activities %}
          <p class="{{ activity.css_class }}">
            {{ activity.activity }}
          </p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
